<div class="header">
    <div class="logo">
        <img src="assets/logo-projet/san_v.png" alt="" >
    </div>
    <div class="titre">
        <h1>Surveillance Alimentaire et Nutritionnelle</h1>
    </div>
    <div class="compte">
        <div class="np">
            <p>RAFANOMEZANTSOA</p>
            <p>Mahazo Tina Faniry</p>
        </div>
        <div class="photo" (click)="btnMenu()">
            <img src="assets/pin.jpg" alt="">
        </div>
    </div>
</div>
    <div class="menu" [class.show]="showMenu()">
        <div class="photo"><img src="assets/pin.jpg" alt="" ></div>
        <div class="menu-list">
            <a href="">Compte</a>
            <a href="">Modification</a>
            <a href="">Paramètre</a>
            <a (click)="logout()" class="btn"><div><mat-icon>logout</mat-icon></div><div>Se déconnecter</div></a>
        </div>
    </div>
