.notfound-wrapper {
  height: 100vh;
  background: #254921;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.notfound-card {
  width: 900px;
  height: 480px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
}

/* GAUCHE : Zone logo */
.left-panel {
  width: 40%;
  background: #92C93D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-logo {
  width: 360px;
}

/* DROITE : Message */
.right-panel {
  width: 60%;
  padding: 60px;
  background: white;
  color: #254921;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 40px;
  line-height: 1.5;
}

.btn-back {
  width: 180px;
  height: 48px;
  border-radius: 8px;
  font-size: 16px;
}
