body{
    height: 100%;
    width: 100%;
    background: #254921;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.card-container {
  width: 900px;
  height: 520px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
}

/* GAUCHE */
.left-panel {
  width: 45%;
  background: #92C93D;
  color: #254921;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.big-logo {
  width: 290px;
  margin: 0 auto 0 auto;
}

.left-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.5;
}

.left-text {
  font-size: 15px;
  line-height: 1.5;
  opacity: 0.9;
  font-weight: 500;
}

/* DROITE */
.right-panel {
  width: 55%;
  background: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #254921;
}

.full {
  width: 100%;
}

.btn-login {
  height: 48px;
  margin-top: 20px;
  border-radius: 8px;
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.info {
  margin-top: 25px;
  font-size: 14px;
  color: #254921;
  opacity: 0.8;
}
.card-container .errors-msg{
    background-color: rgb(255, 151, 151);
    color: rgb(139, 0, 0);
    padding: 5px 0;
    text-align: center;
    border-radius: 40px;
}