.menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.menu .interne, .menu .externe{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 100%;

}
.menu .interne .vulnerabilite, .menu .interne .situation, .menu .externe .kobo, .menu .externe .bi{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        background-color: #F09D21;
        color: white;
        width: 100%;
        height: 80px;
        font-size: 20px;
        border-radius: 10px;
        letter-spacing: 2px;
        box-shadow: 0px 0px 5px 2px black;
        transition: all 0.5s ease;
    }
    a:hover{
        letter-spacing: 6px;
        background-color: rgb(255, 255, 255);
        color: rgb(34, 34, 34);
        border: 2px rgb(34, 34, 34) solid;
    }
}
