html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    margin-left: 20px;
    position: fixed;
    background-color: #000138;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 500px;
    border: 2px rgb(124, 124, 124) solid;
    border-radius: 30px;
    overflow: hidden;
    left: -230px;
    opacity: 0;
    transition: left 0.5s ease-out, opacity 1s ease;
}
.menu .my_icon{
    color: white;
    cursor: pointer;
}
.menu a{
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    color: white;
    font-weight:400;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    border-bottom: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: all 0.5s ease;
}
.menu a:hover{
    background-color: #1a1e5f;
    letter-spacing: 5px;
    font-weight: 700;
}
.menu a.active{
    border-left: 15px white solid;
    font-weight: 700;
    letter-spacing: 8px;
    background-color: #252c85;
}
.sortie{
    cursor: pointer;
    border:1px grey solid;
    border-radius: 50%;
    padding: 5px;
    position: fixed;
    top: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    transition: all 0.5s ease;
}
.sortie:hover{
    opacity: 1;
}
.menu.show{
    left: 0px;
    opacity: 1;
}
.menu.hide{
    left: -230px;
    opacity: 0;
}
.hideMenu{
    margin-top: 10px;
    border: 2px gray solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    opacity: 0.5;
    transition: all 0.5s ease;
}
.hideMenu:hover{
    opacity: 1;
}