.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.container .cartes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.container .cartes .option{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    input{
        width: 300px;
        border: none;
        box-shadow: 0px 0px 4px 1px black;
        height: 30px;
        font-size: 18px;
        padding: 0 10px;
        border-radius: 10px;
        transition: all 0.3s ease;
    }
    input:focus{
        outline: none;
        box-shadow: 0px 0px 4px 2px black;
    }
    select{
        cursor: pointer;
        height: 30px;
        max-width: 200px;
        font-size: 18px;
        box-shadow: 0px 0px 4px 1px black;
        padding: 0 10px;
        border-radius: 10px;
    }
}
.container .cartes .carte{
    margin-top: 40px;
    width: 500px;
    height: 700px;
    box-shadow: 0px 0px 4px 1px black;
    transition: all 0.5s ease;
}
.container .cartes .carte:hover{
    box-shadow: 0px 0px 8px 4px black;
}


.container .value{
    height: 500px;
    width: 900px;
}