<div class="container">
  <div class="cartes">
    <div class="option">
      <input type="text" placeholder="recherche..." (input)="onSearch($event)">
      <select [formControl]="levelControl">
        <option [ngValue]="0">Pays</option>
        <option [ngValue]="1">Province</option>
        <option [ngValue]="2">Région</option>
        <option [ngValue]="3">District</option>
        <option [ngValue]="4">Commune</option>
      </select>
    </div>
      <div
      leaflet
      [leafletOptions]="mapOptions"
      [leafletLayers]="[currentLayer]"
      class="carte"></div>
  </div>
  <div class="value">
    <div class="menu">
      <section>
        <h2>{{data_type}}</h2>
        <mat-button-toggle-group [(ngModel)]="data_type">
          <mat-button-toggle value="Vulnérabilité">Vulnérabilité</mat-button-toggle>
          <mat-button-toggle value="Situation district">Situation district</mat-button-toggle>
        </mat-button-toggle-group>
      </section>
    </div>
    <div class="data">
    <div class="loading">
      <mat-spinner class="white-spinner" [diameter]="150" [strokeWidth]="15"></mat-spinner>
      <p>Chargement des données...</p>
    </div>
    </div>

  </div>
</div>