.main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    height: 100%;
    width: 100%;
    
}
.kobo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 100%;
}
.kobo .liste-projet, .kobo .liste-personne{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: #000138;
    width: 300px;
    padding: 10px 0;
    border: 2px #0003b6 solid;
    border-radius: 20px;
    overflow-y: auto;
    height: 700px;
    input{
        width: 250px;
        height: 30px;
        border-radius: 10px;
        padding: 0 15px;
        border: none;
        background-color: transparent;
        border-bottom: 2px white solid;
        border-top: 2px white solid;
        color: white;
        font-size: 18px;
    }
    input:focus{
        outline: none;
    }
    h1{
        margin: 0;
        color: white;
    }
}
.kobo .liste-projet .lst, .kobo .liste-personne .lst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    a{
        cursor: pointer;
        background-color: #00028f;
        width: 250px;
        text-align: center;
        padding: 10px;
        color: rgb(231, 231, 231);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        transition: all 0.5s ease;
    }
    a:hover{
        background-color: #0104d4;
        border-left: 3px white solid;
        border-right: 3px white solid;
    }
    a.active{
        color: white;
        background-color: #0104d4;
        border-left: 15px white solid;
        border-right: 0;
    }
    h4{
        display: inline;
        color: white;
    }
}