::ng-deep .white-spinner circle {
  stroke: #ffffff !important;
}
.main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    gap: 20px;
    a{
        background-color: #000138;
        color: white;
        margin-top: 50px;
        margin-left: 30px;
        padding: 10px 15px;
        border-radius: 20px;
        cursor: pointer;
    }
    mat-progress-spinner{
        margin-top: 50px;
        margin-left: 50px;
    }
}
.kobo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    margin-left: 150px;
    justify-self: flex-start;
}
.kobo .liste-projet, .kobo .liste-personne{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: #000138;
    width: 300px;
    padding: 10px 0;
    border: 2px #0003b6 solid;
    border-radius: 20px;
    overflow-y: auto;
    height: 700px;
    input{
        width: 250px;
        height: 30px;
        border-radius: 10px;
        padding: 0 15px;
        border: none;
        background-color: transparent;
        border-bottom: 2px white solid;
        border-top: 2px white solid;
        color: white;
        font-size: 18px;
    }
    input:focus{
        outline: none;
    }
    h1{
        margin: 0;
        color: white;
    }
}
.kobo .liste-projet .lst, .kobo .liste-personne .lst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    a{
        cursor: pointer;
        background-color: #00028f;
        width: 200px;
        text-align: center;
        padding: 10px;
        color: rgb(231, 231, 231);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        transition: all 0.5s ease;
        margin: 0;
    }
    a:hover{
        background-color: #0104d4;
        border-left: 3px white solid;
        border-right: 3px white solid;
    }
    a.active{
        color: white;
        background-color: #0104d4;
        border-left: 15px white solid;
        border-right: 0;
    }
    h4{
        display: inline;
        color: white;
    }
}
.valuer{
    max-width: 1400px;
    height: 900px;
    overflow-y: auto;
    overflow-x: auto;
}
.menu-kob{
    position: fixed;
    top: 90px;
}