<div class="main">
    <div class="kobo">
        <div class="liste-projet">
            <h1>Projets</h1>
            <a (click)="test()">TestSynch</a>
            <div class="search">
                <input type="text" placeholder="recherche...">
            </div>
            <div class="lst">
                
                <!-- <a>Enquete Vulnérabilité</a>
                <a class="active">Recensement</a>
                <h4>Aucun projet sur ce compte</h4> -->
                @if(koboStore.loading()){
                    <mat-spinner class="white-spinner" [diameter]="50" [strokeWidth]="8"></mat-spinner>
                    <p style="color: white;">Chargement des projets cn cours ...</p>
                }@else if(koboStore.isFormTab()){
                    @for(form of koboStore.formulaires();track $index){
                        <a (click)="changeData(form.nom_formulaire,form.uid)" [class.active]="(menu() == form.nom_formulaire)">{{form.nom_formulaire}}</a>
                    }
                }@else {
                    <h4>Aucun projet sur ce compte</h4> 
                }
            </div>
        </div>
        <!-- <div class="liste-personne">
            <h1>Enqueteur</h1>
            <div class="search">
                <input type="text" placeholder="recherche...">
            </div>
            <div class="lst">
                <a>Balaza Vulnérabilité</a>
                <a>Recensement</a>
                <a>Enquete Nutritionnel</a>
                <a class="active">comptable des comune</a>
                <a>surveillance alimentaire</a>
                <a>Pratique culinaire</a>
                <h4>Aucun enqueteur sur ce projet</h4>
            </div>
        </div> -->
    </div>
    <div class="valuer">
        @if(showTable()){
            <app-table-donnes [uid]="uidSelected()" [reloadToken]="reloadToken"></app-table-donnes>
        }
        
    </div>
</div>