<div class="main">
    <div class="kobo">
        <div class="liste-projet">
            <h1>Projets</h1>
            <div class="search">
                <input type="text" placeholder="recherche...">
            </div>
            <div class="lst">
                <!-- <a>Enquete Vulnérabilité</a>
                <a class="active">Recensement</a>
                <a>Enquete Nutritionnel</a>
                <a>comptable des comune</a> -->
                <h4>Aucun projet sur ce compte</h4>
            </div>
        </div>
        <!-- <div class="liste-personne">
            <h1>Enqueteur</h1>
            <div class="search">
                <input type="text" placeholder="recherche...">
            </div>
            <div class="lst">
                <a>Balaza Vulnérabilité</a>
                <a>Recensement</a>
                <a>Enquete Nutritionnel</a>
                <a class="active">comptable des comune</a>
                <a>surveillance alimentaire</a>
                <a>Pratique culinaire</a>
                <h4>Aucun enqueteur sur ce projet</h4>
            </div>
        </div> -->
    </div>
    <div class="valuer">
        <img src="assets/pin.jpg" alt="">
    </div>
</div>