<div class="container">
    <div class="aide">
        <h1>❓Aide❓</h1>
        <div class="liste">
            <div class="one">
                <h2>🛡️Graphique</h2>
                <p>
                    <span>1.</span>
                    Dans le menu Graphique, après avoir sélectionné le type de données à visualiser (soit la vulnérabilité, soit la situation moyenne du district), vous pouvez choisir le niveau de zone à afficher.

Par exemple, si vous sélectionnez le niveau Région, vous pourrez visualiser l’ensemble des données concentrées sur cette région
(exemple : Niveau = Région ; Province = Antananarivo ; Région = Vakinankaratra).

Plus le niveau sélectionné est précis, plus les résultats sont filtrés.
Si vous choisissez le niveau Commune, seules les données correspondant à cette commune seront affichées.

Pour changer de type de données, il suffit de cliquer sur l’autre option ; les informations se mettront à jour automatiquement.

Pour afficher les graphiques, cliquez sur l’un des éléments que vous avez enregistrés dans le menu Situation ou Vulnérabilité.
                </p>
            </div>
            <div class="one">
                <h2>🛡️Situation district</h2>
                <p>
                    <span>2.</span>
Dans le menu « Situation district », vous trouverez plusieurs champs à remplir avec différents choix de sélection.

En cliquant sur l’icône (➕), les éléments seront enregistrés localement sur votre ordinateur.
Attention⚠️ : ces données peuvent être perdues en cas de problème sur votre machine. De plus, elles ne seront visibles que sur l’ordinateur ayant effectué l’enregistrement. Si vous vous connectez depuis un autre ordinateur, ces éléments ne seront pas affichés.

Si, lors de la sélection, vous ne trouvez pas l’option souhaitée, cliquez sur (➕) pour l’ajouter.

Enfin, lorsque vous décidez d’enregistrer définitivement les données dans la base de données, cliquez sur le bouton « Enregistrer ». Toutes les informations seront alors sauvegardées dans la base de données.
Après avoir enregistré définitivement les données, vous pouvez ajouter leur disponibilité en cliquant sur (👁️) ou visualiser celles qui disposent déjà de cette disponibilité.
                </p>
            </div>
            <div class="one">
                <h2>🛡️Vulnérabilité</h2>
                <p>
                    <span>3.</span>
Dans le menu « Vulnérabilité », le fonctionnement est similaire à celui de « Situation district », à la différence qu’il n’y a ni gestion de disponibilité ni enregistrement local.

Tous les éléments ajoutés sont directement enregistrés dans la base de données.
                </p>
            </div>
            <div class="one">
                <h2>🛡️Carte</h2>
                <p>
                    <span>4.</span>
Dans le menu « Carte », sélectionnez d’abord le niveau de zone à visualiser.
Si le tracé de la zone ne s’affiche pas, essayez de sélectionner un autre niveau puis revenez au niveau souhaité. Cela peut être dû à une connexion internet faible.

Après avoir sélectionné le niveau, choisissez le type de données à afficher : « Situation district » ou « Vulnérabilité ».

Enfin, cliquez sur la zone que vous souhaitez visualiser pour afficher les informations correspondantes.
                </p>
            </div>
        </div>
    </div>
    <div class="home-base">
        <div class="up">
            <div class="one">
                <div class="img"><img src="assets/cap/graphique.png" alt=""></div>
                <h3>Graphique</h3>
            </div>
            <div class="one">
                <div class="img"><img src="assets/cap/situation.png" alt=""></div>
                <h3>Situation district</h3>
            </div>
            <div class="one">
                <div class="img"><img src="assets/cap/vulnéra.png" alt=""></div>
                <h3>Vulnérabilité</h3>
            </div>
        </div>
        <div class="down">
            <div class="one">
                <div class="img"><img src="assets/cap/carte.png" alt=""></div>
                <h3>Carte</h3>
            </div>
            <div class="one">
                <div class="img"><img src="assets/cap/utilisateur.png" alt=""></div>
                <h3>Utilisateur</h3>
            </div>
            <div class="one">
                <div class="img"><img src="assets/cap/access.png" alt=""></div>
                <h3>Accès</h3>
            </div>
        </div>
    </div>
</div>